  @media only screen and (max-width:100%)

* {
    box-sizing: border-box;
}

main {
  margin: 10px;

}

body {
    margin: 0;
    background-color: rgb(252, 251, 246);
    flex: auto;
}

/* Style the header */
.header img{
  height: 100px;
  padding-right: 10px;
  padding-top: 10px;
}
.header {
    border: 2px dotted rgb(112, 112, 112);
    background-color: rgb(249,252,170);
    margin-top:100px;
    margin-left: 25px;
    padding: 50px;
    text-align: center;
    display: inline-flex;
}
.Intro{
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(112,112,112);
    width:300px;
    float:right;
}
h2{
  color: rgb(112, 112, 112);
  float:right;
  margin-right: 25px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: top;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}
table {
  margin-top: 25px;
  margin-left: 14px;
  flex: auto;
}
 td{
  text-align: center;
  margin:100px;
  flex: auto;
}
table img {
  border: 2px solid rgb(0, 53, 127);
  height: 300px;
  width:300px;

}
.gallery {
text-align: center;
margin-left: 50px;
flex: auto;

}
a:hover{
  color: green;

}
a {
  color: rgb(0, 53, 127);
}
.ProjH {
  font-family:rage;
  font-size:15;
  color: rgb(209, 132, 41);

}


  .ProjSubHeader {
    font-family: rage;
    color: black;

  }


.IllH{
  font-family: rage;
  color: rgb(0, 53, 127);

}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    border: 1px solid rgb(112, 112, 112);
    background-color: rgb(255,255,255);
    padding-right: 10px;
    text-align: right;
    color: rgb(209,132,41)

}

.footer a {
  color:rgb(209,132,41);
  border: none;
  padding-left: 25px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {empty-cells:
        width: 100%;
    }
}
/*css for artist.html */

  .banner img {
    width: 100%;

  }
  nav {
    padding:20px;
    background-color: rgb(249,252,170);
    border: 2px dotted rgb(112, 112, 112);
    text-align: center;
  }

  nav a{
    border: none;
    margin: 10px;
  }

  .outterSection {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.LTEnrTJGWu2YXyB-5gy81gHaE8%26pid%3DApi&f=1');
   ;

  }

  section img{
    border: 1px solid rgb(112, 112, 112);
    width: 300px;
    padding: 20px;
    float:left;
  }

  section p ul {
    float: right;

  }
   section {
     background-color: rgb(112, 112, 112);
     margin: 50px;
     padding: 10px;
     float: right;
     font-size: 20px;
     display: ;
   }

   h1 {

     text-align: center;
   }

   h3 {
     text-align: center;
     color: rgb(209, 132, 41);
   }

   .likesNdislikes {
     padding-left: 100px;
     border: 1px solid  rgb(249,252,170);
     display:flex;
     background-color: rgb(112, 112, 112);
     width: 100%;
   }
/*end of css Artist.html*/
/*contantform*/
form{
background-color: rgba(209, 132, 41,0.5);
padding: 5px;
border-bottom: none;
border:1px solid rgb(112,112,112);
width:500px;
margin-left: auto;
margin-right: auto;

}
.contactDiv{
  background-color:white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:1px solid rgb(0,53,127);
}

legend{
  color: rgb(0,53,127);
  font-weight: bold;
  text-align: center;
}
label {
  font-weight: bold;
  color: black;
}

Input [type=text]{
  border: none;
  border-bottom: 3px solid blue;
  border-radius: 5px;
  color: rgb(209,132,41);
}

Input [value],{
  color: blue;
}

.illDiv {
  background-color: rgba(209,132,41, 0.5);
  border:1px dotted rgb(112, 112, 112);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.proDiv {
  background-color: rgba(0, 53, 127,0.5);
  border:1px dotted rgb(112, 112, 112);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: rgb(255,255,255);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px dotted #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Lightbox Area*/
.lightbox {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgba(0,0,0,0.7);
text-align: center;
display:none;
overflow:scroll;
}

.lightboxClose {
color:lightgrey;
position:absolute;
right:10px;
top:10px;
cursor:pointer;
}
.lightboxClose:hover{color:white;}

.lightboxContent {
width:80%;
height:auto;
margin:auto;
margin-top:5%;
}
.lightboxContent img {
width:100%;
height:auto;
cursor: pointer;
padding:0.5em;
border:2px solid black;
background-color: white;
}
