* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(252, 251, 246);
}

/* Style the header */
.header {
    border: 2px dotted rgb(112, 112, 112);
    background-color: rgb(249,252,170);
    margin-top:100px;
    margin-left: 25px;
    padding: 50px;
    text-align: center;
    display: inline-flex;
}
.Intro{
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(112,112,112);
    width:300px;
    float:right;
}
h2{
  color: rgb(112, 112, 112);
  float:right;
  margin-right: 25px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: top;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}
table {
  margin-top: 25px;
  margin-left: 14px;
}
 td{
  text-align: center;
  margin:100px;
}
table img {
  border: 2px solid rgb(0, 53, 127);
  height: 300px;
  width:300px;
}
a:hover{
  color: pink;

}
a {
  border: 2px dotted black;
  border-radius: 15px;
}
table h1{
  font-family:rage;
  font-size:15;
  color: rgb(209, 132, 41);

}

.IllH{
  font-family: rage;
  color: rgb(0, 53, 127);

}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    border: 1px solid rgb(112, 112, 112);
    background-color: rgb(255,255,255);
    padding: 10px;
    text-align: right;
    color: rgb(209,132,41)

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
